#newUl {
	margin-right:auto;
	margin-left:auto;
	width: 820px;
}
.tittle {
	display:inline-block;
	position: relative;
	background-color: #C9F;
	width: 180px;
	border-left: solid #639 1px;
	text-align:center;
	font: 30px Verdana, Geneva, sans-serif;
}

#submenu {
	display:none;
}
.tittle:hover #submenu {
	display: block;
	position: absolute;
	width: 140px;
	list-style: none;
	text-align:center;
	background-color:#99F;
}
